# server hostname reffered as 'localhost' won't work when other device connected to same network access the site 
VITE_NODE_SERVER_LOCAL_HOSTNAME=http://localhost
VITE_NODE_SERVER_HOSTNAME=http://kinetix-api-env.eba-vyvnamws.ap-south-1.elasticbeanstalk.com
# VITE_NODE_SERVER_HOSTNAME=http://172.19.179.154 #change according to current local network

VITE_NODE_SERVER_PORT=5000
# VITE_NODE_ENV=dev
VITE_NODE_ENV=prod