@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Change scrollbar width for Chrome, Safari and Opera */
  .scrollbar-thin::-webkit-scrollbar {
    width: .4rem;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: unset;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #cacaca;
  }

  /* Change scrollbar width for IE, Edge and Firefox */
  .scrollbar-thin {
    scrollbar-face-color: #cacaca; /* Thumb color */
    scrollbar-track-color: #f0f0f0; /* Track color */
    scrollbar-arrow-color: #808080; /* Arrow buttons (if visible) */
  }

  /* Show scrollbar on hover for Chrome, Safari and Opera */
  .scrollbar-on-hover::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-on-hover:hover::-webkit-scrollbar {
    display: block;
  }

  /* Show scrollbar on hover for IE, Edge and Firefox */
  .scrollbar-on-hover {
    -ms-overflow-style: none;  /* For IE/Edge to hide scrollbar */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-on-hover:hover {
    -ms-overflow-style: auto;  /* For IE/Edge to show scrollbar on hover */
    scrollbar-width: auto; /* Firefox */
  }
}
